<%- include('partials/header') %>

    <h3 class="summary-text" style="padding: 8px 16px;">Search Results for "<%=keyWord%>"</h3>
    <h3 class="summary-text" style="padding: 8px 16px;">Songs Found</h3>
    <p class="summary-text" style="padding: 8px 16px;"> Total songs found: <%=songResults.length %>
    </p>
    <% songResults.forEach(result=> { %>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= result.nombre %></h5>
                <small class="text-muted"><i class="fa-regular fa-clock"></i> <%= `${Math.floor(result.milisegundos/1000/60)}:${((result.milisegundos/1000)%60).toFixed(0).padStart(2, '0')}`%> </small>
            </div>
            <p class="mb-1"><%=result.album.titulo%></p>
            <small class="text-muted"><%= result.album.artist.nombre%></small>
        </a>
    </div>

    <% }) %>

    <br>
    <h3 class="summary-text"  style="padding: 8px 16px;">Albums Found</h3>
    <p class="summary-text"  style="padding: 8px 16px;"> Total albums found: <%=albumResults.length %>
    </p>
    <% albumResults.forEach(album=> { %>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= album.titulo %></h5>
    
                    <% let totalTime=0;
                        album.songs.forEach(song => {
                            totalTime+=song.milisegundos
                        })
                    %>
     
                    <small class="text-muted"><i class="fa-regular fa-clock"></i> <%= `${Math.floor(totalTime/1000/60)}:${((totalTime/1000)%60).toFixed(0).padStart(2, '0')}`%> </small>
                </div>
                <% album.songs.forEach(song => { %>
                    <p class="mb-1"><%= song.nombre %> </p>
                <% }) %>
                
                <small class="text-muted"><%= album.artist.nombre %>  </small>
            </a>
        </div>
    
        <% }) %>

        <h3 class="summary-text"  style="padding: 8px 16px;">Artists Results</h3>
        <p class="summary-text"  style="padding: 8px 16px;">Total artists found: <%= artistResults.length %>
        </p>
        <% artistResults.forEach(artist=> { %>
    
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= artist.nombre %></h5>
                    <small class="text-muted"><%=artist.albums.length==1? artist.albums.length+" album": artist.albums.length+" albums"%> </small>
                </div>
                
                <% artist.albums.forEach(album => { %>
                    <p class="mb-1"><%= album.titulo %></p>
                <% }) %>
            </a>
        </div>
    
        <% }) %>

    <%- include('partials/footer') %>